<h1 class="font-normal leading-tight text-5xl">Upscale image resolution instead of just enlarging pixels.</h1>
<div class="md:flex flex-row pt-8">
  <div class="basis-3/4 md:pr-32">
    <p class="pt-4 text-justify">
      AI helps you do a single thing very well: increase image resolution in a natural way. This is
      pretty hard to do. Most upscaling algorithms don’t know how to accurately fill in missing pixels, so you end up
      with blocky low-quality results.
    </p>
    <p class="pt-4 text-justify">
      To solve this problem, AI’s neural networks are continuously trained on a wide variety of sample
      images to understand how photorealistic detail looks. After learning from images, our AI image
      upscaler can now believably increase resolution on a wide variety of different subjects and image types (DSLR,
      web/compressed, CG). The results are often magical. Give our intelligent image resolution enhancer a try!
    </p>
  </div>
  <div class="basis-1/4">
    <img-comparison-slider class="rounded font-light rounded-xl" hover="hover">
      <img class="w-100 h-100" style="object-fit: cover" slot="first" src="assets/sample_1.jpg">
      <img class="w-100 h-100" style="object-fit: cover" slot="second" src="assets/sample_1_output.png"/>
    </img-comparison-slider>
  </div>
</div>

<h1 class="font-normal leading-tight text-5xl pt-8">Improve image quality.</h1>
<div class="md:flex md:flex-row pt-8 md:space-x-8">
  <div class="basis-1/3">
    <img-comparison-slider class="rounded font-light rounded-xl" hover="hover">
      <img class="w-100 h-100" style="object-fit: cover" slot="first" src="assets/sample_5.jpg">
      <img class="w-100 h-100" style="object-fit: cover" slot="second" src="assets/sample_5_output.png"/>
    </img-comparison-slider>
  </div>

  <div class="basis-1/3">
    <img-comparison-slider class="rounded font-light rounded-xl" hover="hover">
      <img class="w-100 h-100" style="object-fit: cover" slot="first" src="assets/sample_2.jpg">
      <img class="w-100 h-100" style="object-fit: cover" slot="second" src="assets/sample_2_output.png"/>
    </img-comparison-slider>
  </div>

  <div class="basis-1/3">
    <img-comparison-slider class="rounded font-light rounded-xl" hover="hover">
      <img class="w-100 h-100" style="object-fit: cover" slot="first" src="assets/sample_4.jpg">
      <img class="w-100 h-100" style="object-fit: cover" slot="second" src="assets/sample_4_output.png"/>
    </img-comparison-slider>
  </div>
</div>

<p class="pt-4 text-justify">
  Normal upscaling techniques will create fuzzy and blocky artifacts that you can see above, but Gigapixel AI resolves
  edges sharply with few artifacts for much more natural results. (Pay special attention above to the fine details
  around the windows, trees, and mountain edges.)</p>


<div class="md:flex flex-row pt-16 space-x-8">
  <div class="basis-3/5">
    <h1 class="font-normal leading-tight text-5xl">Fix pixellation in low-resolution images</h1>

    <p class="pt-4 text-justify">
      AI can make your image appear like it was captured with a much higher-quality camera. It’s been
      trained on enough images to know what photo detail should look like. This allows you to increase your photo’s
      resolution and quality
    </p>


    <h1 class="font-normal leading-tight text-5xl pt-8">Increase DPI by increasing the image's real resolution</h1>
    <p class="pt-4 text-justify">
      Pixel count isn’t the only thing that affects image quality. Normally, if you start out with a low-quality
      image, you’ll just end up with a bigger low-quality image if you upscale it. AI upscale technology
      instead create very believable and natural image detail that can often look amazing.
    </p>
    <p class="pt-4 text-justify">
      Printed photos will often magnify any softness or imperfections in your source image. Upscaling with
      AI first ensures the most detailed original image for best printing results.
    </p>
  </div>
  <div class="basis-2/5">
    <img-comparison-slider class="rounded font-light rounded-xl" hover="hover">
      <img class="w-100 h-100" style="object-fit: cover" slot="first" src="assets/sample_3.jpg">
      <img class="w-100 h-100" style="object-fit: cover" slot="second" src="assets/sample_3_output.png"/>
    </img-comparison-slider>
  </div>
</div>

